/* 
    Created on : 16/05/2016
    Author     : Celia Alonso Reguero
*/

/* ESTILOS DE LA PÃGINA INICIO */
.imagenInicio img{
    width: 100%;
}

main .container>.row.informacion{
    width: 100%;
    margin: 5px;
    padding: 20px;
}

main .container>.row>div.informacion{
    margin: 0px;
}

div.informacion>div{
    padding: 25px;
}

div.izquierdaArriba{
    border-right: 0px solid #0072BD;
    border-bottom: 1px solid #0072BD;
    padding-top: 10px;
}

div.izquierdaAbajo{
    border-top: 0px solid #0072BD;
    border-right: 0px solid #0072BD;
}

div.derechaArriba{
    border-left: 1px solid #0072BD;
    border-bottom: 1px solid #0072BD; 
}

div.derechaAbajo{
    border-top: 0px solid #0072BD;
    border-left: 1px solid #0072BD;
}