/* 
    Created on : 19/05/2016
    Author     : Celia Alonso Reguero
*/

/* Large Devices, Desktops */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    #wrapper {
        width: 70vw;
    }
    .header{
        padding-left: 10px;
    }
    header div.header p{
        font-size: 40px;
    }
    header div.header img{
        height: 100px; 
        width: 110px;
    }
    .navbar-default .navbar-nav > li > a{
        padding: 20px;
    }
    .navbar-default .navbar-nav > li{
        width: 23.30vw;
        text-align: center;
    }
    main{
        min-height: 80%;
    }
    .imagenInicio img{
        width: 70vw;
    }
    main .container>.row.informacion{
        width: 100%;
        margin: 5px;
        padding: 25px;
    }
    .formulario{
        margin-left: 110px;
    }
    .contenido{
        width: 62vw;
        margin: 50px;
        margin-top: 30px;
    }
    .contenido ul {
        margin-left: 35px;
    }
    footer div p{
        width: 70vw;
        margin: 0px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) and (max-width: 992px){
    html,body{
        font-size: 13px;
    }
    #wrapper{
        width: 100%;
        margin: 0px;
    }
    h1{
        font-size: 20px;
        margin: 0 0 10px 0; 
    }
    h2{
        font-size: 16px;
        margin: 0 0 5px 0; 
    }
    .header{
        width: 100%;
        padding: 20px;
    }
    header div.header p{
        font-size: 40px;
    }
    .nav{
        font-size: 25px;
    }
    .navbar-default .navbar-nav > li > a{
        padding: 20px;
    }
    .navbar-default .navbar-nav > li{
        width: 33.2vw;
    }
    .navbar-collapse.collapse{
        width: 100vw;
        padding: 0px;
        margin: 0px;
    }
    .imagenInicio img{
        width: 100vw;
    }
    main.container{
        margin: 0 auto;
        width: 100%;
    }
    main .container>.row.informacion{
        width: 100%;
        margin: 5px;
        padding: 15px;
    }
    div.informacion>div{
        padding: 15px;
    }
    div.izquierdaArriba{
        border-right: 0px solid #0072BD;
        border-bottom: 1px solid #0072BD;
        padding-top: 10px;
    }
    div.derechaArriba{
        border-left: 1px solid #0072BD;
        border-bottom: 1px solid #0072BD; 
    }
    div.izquierdaAbajo{
        border-top: 0px solid #0072BD;
        border-right: 0px solid #0072BD;
    }
    div.derechaAbajo{
        border-top: 0px solid #0072BD;
        border-left: 1px solid #0072BD;
    }
    .formulario{
        width: 70vw;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .contenido{
        width: 85vw;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .contenido ul {
        margin-left: 25px;
    }
    footer{
        width: 100vw;
        margin: 0px;
    }
    footer div p{
        width: 100vw;
    }
    .autor{
        font-size: 10px;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width:767px) {
    html,body{
        font-size: 12px;
    }
    #wrapper{
        width: 100%;
        margin: 0px;
    }
    header div.header p{
        font-size: 25px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 16px;
    }
    .header{
        width: 100%;
        padding: 10px; 
    }
    header div.header p{
        font-size: 30px;
    }
    .boton-header{
        margin: 5px;
    }
    navbar-header>button{
        background-color: #265C7F;
        border: 1px solid #FFFFFF;
    }
    .nav{
        font-size: 22px;
    }
    .navbar-default .navbar-nav{
        margin: 0px;
    }
    .navbar-default .navbar-nav > li > a{
        padding: 15px;
    }
    .navbar-default .navbar-nav > li{
        width: 100vw;
    }
    .navbar-collapse.collapse{
        width: 100vw;
        padding: 0px;
        margin: 0px;
    }
    .imagenInicio img{
        width: 100vw;
    }
    main .container>.row.informacion{
        width: 100%;
        margin: 0px;
        padding: 10px;
    }
    div.informacion>div{
        padding: 10px;
    }
    div.izquierdaArriba{
        border-right: 1px solid #0072BD;
        border-bottom: 1px solid #0072BD;
        padding-top: 5px;
    }
    div.derechaArriba{
        border-left: 0px solid #0072BD;
        border-bottom: 1px solid #0072BD; 
    }
    div.izquierdaAbajo{
        border-top: 0px solid #0072BD;
        border-right: 1px solid #0072BD;
    }
    div.derechaAbajo{
        border-top: 0px solid #0072BD;
        border-left: 0px solid #0072BD;
    }
    .formulario{
        width: 70vw;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .formulario h1{
        padding: 5px;
        padding-top: 10px;
    }
    .formulario form{
        padding: 5px;
        padding-top: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .contenido{
        width: 85vw;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .contenido ul {
        margin-left: 25px;
    }
    footer{
        width: 100vw;
        margin: 0px;
    }
    footer div p{
        width: 100vw;
    }
    .autor{
        font-size: 9px;
    }
}