/* 
    Created on : 16/05/2016
    Author     : Celia Alonso Reguero
*/

.formulario{
    width: 80%;
    color: #000000; 
    border: 1px solid #0072BD;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 65px;
}

.formulario label{
    text-align: left;
}

.formulario h1{
    padding: 10px;
    padding-top: 25px;
}

.formulario form{
    padding: 20px;
    padding-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

.botonFormulario{
    text-align: center;
}

.contenido{
    width: 80%;
    color: #000000; 
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenido ul {
    margin-left: 50px;
}